canvas{
    position: relative;
    top: 49%;
    left: 49.4%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:white;
    height: 68vh !important;
    width: 66vw !important;
}
canvas#bite{
    height: 40vh !important;
    width:40vw !important; 
    position: absolute;
    top: 25%;
    left: 15%;
    box-shadow: rgba(255, 255, 255, 0.13) 1px -8px 7px 0px, rgba(255, 255, 255, 0.103) 0px 0px 9px 7px;
    border-radius: 10px;
    border: 8px solid white;
}
canvas#map2{
    height: 40vh !important;
    width:40vw !important;  
    position: absolute;
    top: 25%;
    right: 15%;
    box-shadow: rgba(255, 255, 255, 0.13) 1px -8px 7px 0px, rgba(255, 255, 255, 0.103) 0px 0px 9px 7px;
    border-radius: 10px;
    border: 8px solid white;
}
div#interface{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:white;
    height: 74vh !important;
    width: 67vw !important;
    box-shadow: rgba(255, 255, 255, 0.13) 1px -8px 7px 0px, rgba(255, 255, 255, 0.103) 0px 0px 9px 7px;
    border-radius: 10px;
    
}
#interface a{
    margin: 0;
    margin-bottom: -1vh;
    margin-top: 1vh;
    color: black;
    position: relative;
    top: 1.5%;
    font-weight: bold;
    left: 2%;
    width: 20;
    text-decoration: none;
}
div#changes{
    z-index: 2;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:rgba(255, 255, 255, 0);
    height: 2vh !important;
    width: 66vw !important;
    border-radius: 10px;
    
}
div#changes input{
     background-color: white;
     border: 0px solid rgb(0, 0, 0);
     padding: 8px;
     font-family: 'Montserrat', sans-serif;
}
div#changes input:hover{
    box-shadow: rgba(255, 255, 255, 0.13) 1px -8px 7px 0px, rgba(255, 255, 255, 0.103) 0px 0px 9px 7px;
}