canvas{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:white;
    height: 70vh !important;
    width: 66vw !important;
}
div#interface{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:white;
    height: 75vh !important;
    width: 68vw !important;
}