$base-color: #1C1D1D;
$contrast: #e6e6e6;
$contrast2: #c2c2c2;
p{
  color: #e6e6e6;
}
body{
    background-color: $base-color;
    font-family: 'Montserrat', sans-serif;
    background-image: url('.//sources/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
}
#content div.params a:link {
  text-decoration: none;
  color: black !important;
}

#content div.params a:visited {
  text-decoration: none;
  color: black !important;
}

#content div.params a:hover {
  text-decoration: none;
  color: black !important;
}

#content div.params a:active {
  text-decoration: none;
  color: black !important;
}
html {
    height: 100%;
  }
  body {
    height: 100vh;
    display: grid;
    grid-template-rows: 90vh auto;
    margin: 0px;
    
  }
  footer {
    margin-left: auto;
    margin-right: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 30vw;
    background-color: #e6e6e6;
    max-height: 5vh; 
    display: flex; align-items: center; justify-content: space-between;
    // box-shadow:1px -1px 20px 0px #aaaaaa;
    border-radius: 70px;
    margin-top:0;
    padding: 5px;
  }
footer img.logo{
    background-color: #e6e6e6;
    max-height: 10vh;
    border-radius: 50%;
    padding: -20px;
    margin-top: 0;    
    // box-shadow: 1px -8px 7px 0px rgb(255 255 255 / 25%),
    // 1px 8px 7px 0px rgb(255 255 255 / 25%);
}
footer img.logo:hover{
  background-color: #e6e6e6;
  max-height: 10.5vh;
  border-radius: 50%;
  padding: -20px;
  margin-top: 0;    
  box-shadow: 1px -8px 7px 0px rgb(255 255 255 / 25%),
  1px 8px 7px 0px rgb(255 255 255 / 25%);
}
footer img{
    max-height: 4vh;
    border-radius: 50%;
    padding: -20px;
    margin-top: 0;    
    margin-right: 1.5vh;
}
footer div{
    max-height: 5vh;
    border-radius: 50%;
    padding: -20px;
    margin-top: 0;    
    margin-left: 1vh;
}
#content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    grid-template-rows:15% 15% 20% 25%;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    div a {
      color: $contrast !important;
    }
  }

  #content div img {
    max-width: 100%;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
    width: 60%;
  }
  .two {
    grid-column: 2 ;
    grid-row: 1;
    width: 60%;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
    width: 60%;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
    width: 60%;

  }
  .six {
    grid-column: 3;
    grid-row: 2;

  }
  //prompts
  #prompt{
    position: absolute;
    top: 50%;
    left: 50%;
 background-color: aqua;
  }
  div.SoloAlert-prompt-input-wrapper div label{
    display: none !important;
  }
  div.SoloAlert-wrapper .SoloAlert {
    background-color: #1C1D1D !important;
    border-radius: 10px !important;
    box-shadow: inset 0px 0px 20px 17px #1e1e1e, 0px 0px 8px 1px rgb(50 50 50 / 28%)!important;
    padding: 10px;

}
div.SoloAlert-wrapper div.SoloAlert-actions div.SoloAlert-actions button.SoloAlert-action-button{
  color:rgb(88, 8, 8) !important;
}  

//reponsive

  @media only screen and (max-width: 1100px) {
    footer {
      width: 60vw;
    }
    #content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    grid-template-rows:10vh 10vh 15vh 25vh;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #content div{
   width: 100%;
  }
  }
  @media only screen and (max-width: 500px) {
    footer {
      width: 80vw;
    }
  }
  // params
  div#params{
    display:none;
    -webkit-animation: fadeOut 0.1s ease-in;
    animation: fadeOut 0.1s ease-in;
    z-index: 2;
  }
  div#params.params{
    // display: inline;
    // position: absolute;
    // top: 70vh;
    // left: 50%;
    display: grid;
    grid-column: 3/6;
    grid-row: 4;
    width: 40%;
    height: 110%;
   margin: auto;
    background-color: $contrast;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    padding-bottom: 2vh;
    padding-top: 1vh;
    box-shadow:  rgba(255, 255, 255, 0.096) 0px 0px 9px 7px;
    -webkit-animation: fadeIn 0.1s ease-in;
    animation: fadeIn 0.1s ease-in;
    overflow: hidden;
    display: inline-block;
word-break: break-word;
    p{
      display: inline-block;
word-break: break-word;
color: black;
    }
  }
  div#profil{
   display: none;
  }
  
  div#profil.ok{
    z-index: 3;
    display: grid;
    align-content: space-evenly;
    grid-column: 5/7;
    grid-row: 4;
    width: 40%;
    height: 80%;
    padding-bottom: 2vh;
    padding-top: 1vh;
   margin: auto;
   
   margin-left: 3vw;
    background-color: $contrast;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    -webkit-animation: fadeIn 0.1s ease-in;
    animation: fadeIn 0.1s ease-in;
     p{
      padding-top: 10px;
      margin: 5%;
      margin-top: -25%;
      text-align: center;
      border-top: 1px solid #1e1e1e;
      color: black;
     }
     img{
      height: 50%;
      margin: auto;
      margin-top: 15%;
       border: 5px solid black;
      border-radius: 50%;
     }
   
  }
  div#qual{
    display: none;
   }
   
   div#qual.ok{
     z-index: 3;
     display: grid;
     align-content: center;
     grid-column: 5/7;
     grid-row: 4;
     width: 40%;
     height: 40%;
     padding-bottom: 2vh;
     padding-top: 1vh;
    margin: auto;
    margin-left: 3vw;
     background-color: $contrast;
     padding-left: 20px;
     padding-right: 30px;
     border-radius: 10px;
     -webkit-animation: fadeIn 0.1s ease-in;
     animation: fadeIn 0.1s ease-in;
     color: black !important;
     p{
      color: black;
     }
      .options{
        align-items: center;
        display: inline-flex;
        justify-items: stretch;
        justify-content: space-evenly;
        color: black !important;
        p{
          font-size: 14px;
          margin-top: -2vh;
          color: black;
        }
      }
   }

   div#screen{
    display: none;
   }
   
   div#screen.ok{
     z-index: 3;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 10% 45% 45%;
     gap: 10px;
     align-items: center;   
     grid-column: 5/7;
     grid-row: 4;
     width: 55%;
     height: 85%;
     padding-bottom: 2vh;
     padding-top: 1vh;
    margin: auto;
    margin-left: 3vw;
     background-color: $contrast;
     padding-left: 20px;
     padding-right: 30px;
     border-radius: 10px;
     -webkit-animation: fadeIn 0.1s ease-in;
     animation: fadeIn 0.1s ease-in;
     
        p{
      
          font-size: 16px;
         text-align: left;
          grid-row: 1;
          grid-column: 1/3;
         margin: auto;
        margin-top: 10px;
        color: black;
        margin-left: -4px;
        }
        img{
          max-width: 100%;
        }
        img#un{
          display: subgrid;
          grid-row: 2;
          grid-column: 1;
        }
        img#de{
          display: subgrid;
          grid-row: 2;
          grid-column: 2;
        }
        img#tr{
          display: subgrid;
          grid-row: 2;
          grid-column: 3;
        }
        img#qu{
          display: subgrid;
          grid-row: 3;
          grid-column: 1;
        }
        img#ci{
          display: subgrid;
          grid-row: 3;
          grid-column: 2;
        }
        img#si{
          display: subgrid;
          grid-row: 3;
          grid-column: 3;
        }
      
   }
  div#params div{
  margin-top: 1vh;
   padding-top: 5px;
   padding-bottom: 5px;
   border-bottom: 1px solid #c2c2c2;
  
  }
  div#params div:hover{
    border-radius: 5px;
    box-shadow: inset rgba(207, 207, 207, 0.25) 20px 0px 13px 0px;

   }
  div#params div:last-child{
    margin-bottom: 1vh;
   }

   @keyframes fadeIn {
    from { transform: translateY(5%); }
      to { transform: translateY(0%); }
}
@keyframes fadeOut {
  from { transform: translateY(0%); }
    to { transform: translateY(5%); }
}